<ol class="breadcrumb">
    <li><a ui-sref="welcome">Transoform</a></li>
    <li><a ui-sref="transforms">模版列表</a></li>
    <li class="active">新建</li>
</ol>
<form class="form-horizontal" name="createTransformForm" novalidate>
    <div class="form-group">
        <label class="col-sm-2 control-label">名称</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="名称，唯一标识" name="name" ng-pattern="/^[a-zA-Z0-9_\.]+$/" ng-model="transform.name" required />
        </div>
    </div>
    <div class="form-group" ng-show="createTransformForm.name.$dirty && createTransformForm.name.$invalid">
        <div class="col-sm-10 col-sm-offset-2">
            <p class="text-danger" ng-show="createTransformForm.name.$error.required">请填写名称</p>
            <p class="text-danger" ng-show="createTransformForm.name.$error.pattern">名称不正确(仅限：字母，数字，下划线，点)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">标题</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="title" ng-model="transform.title" required />
        </div>
    </div>
    <div class="form-group" ng-show="createTransformForm.title.$dirty && createTransformForm.title.$invalid">
        <div class="col-sm-10 col-sm-offset-2">
            <p class="text-danger" ng-show="createTransformForm.title.$error.required">请填标题</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">描述</label>
        <div class="col-sm-6">
            <textarea type="text" class="form-control" rows="3" name="description" ng-model="transform.description" required />
        </div>
    </div>
    <div class="form-group" ng-show="createTransformForm.description.$dirty && createTransformForm.description.$invalid">
        <div class="col-sm-10 col-sm-offset-2">
            <p class="text-danger" ng-show="createTransformForm.description.$error.required">请填描述信息用作备注</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <a class="btn btn-danger" ng-click="confirmCreateTransform()" ng-disabled="createTransformForm.$invalid">确认添加</a>
        </div>
    </div>
    <div class="form-group" ng-show="waiting">
        <div class="col-sm-10 col-sm-offset-2">
            <img src="/static/images/waiting.gif" />
        </div>
    </div>
    <div class="form-group" ng-show="message!=null">
        <div class="col-sm-10 col-sm-offset-2">
            <p class="text-danger">{{message}}</p>
        </div>
    </div>
</form>